[2016-06-23 14:53] xulaus opened #17 "Unify CHAIDNode.is_terminal and CHAIDSplit.valid()"
They are the same thing

[2016-06-27 10:55] xulaus opened #19 "Use bin count instead of unique to get frequencies."

[2016-07-06 20:28] lijinmaylee opened #23 "test model performance on validation dataset"
Hi, thank you very much for the implementation!

I plan to split my dataset into development and validation set, then I would like to build the CHAID tree on development set, and test its performance on validation set.

It would be really nice if there could be a function that outputs the rules of segmentation and/or applies the rules (i.e. does model prediction) on the validation set.

Thanks a l

[2016-07-07 09:45] Rambatino commented on #23
Hi @lijinmaylee, could you please elaborate on exactly what you mean. What are these rules of segmentation?
Also, if you want to build the feature via a Pull Request we'd be happy to review it.

[2016-07-07 13:55] lijinmaylee commented on #23
Hi, thanks for your reply!

What I mean by outputting the decision tree rules is similar to what is described in this thread [http://stackoverflow.com/questions/28428508/chaid-regression-tree-to-table-conversion-in-r].

And by saying test its performance on validation set, what I expect is something similar to the predict function in R, which is, for a new data point, given the decision tree built

[2016-07-13 13:05] Rambatino commented on #23
Is it something like this:

[code]

[2016-07-13 20:51] lijinmaylee commented on #23
Hi,

That is exactly what I meant.

Thanks so much!

[2016-07-18 14:46] xulaus commented on #23
Hi @lijinmaylee, did you want this a text output, or some sort of object that will do the classification for you?

[2016-07-18 15:29] Rambatino commented on #23
It shouldn't be too hard to build, and would be good for debugging. I'd prefer a more structured output though

[2016-07-18 20:09] lijinmaylee commented on #23
hi @xulaus , an object would be preferred.

Thanks a lot for your effort!

[2016-07-19 10:56] xulaus commented on #23
Still some argument here about what you mean. Would a pandas data frame fit your use case? If not could you provide some example code of how you would like the API to look?

[2016-07-20 22:05] lijinmaylee commented on #23
Hi,

I would expect that the test/validation dataset will have exactly the same structure as the development dataset - both are pandas dataframes with same columns.

Hope that this clarifies the confusion. Thanks for your consideration.

[2016-08-02 10:47] xulaus opened #34 "Need tests for when a CHAIDNode only has a subset of members"
Has been tested manually, and is tested through `CHAIDVector` but I am worried about regressions

[2016-08-02 10:48] xulaus opened #35 "Add weighting for respondents."
Has a dependency on #19

[2016-08-04 19:19] Tizpaz commented on #23
Hello,

Could you please help me, how I can find performance (accuracy) of a CHIAD model? I use cross_validation and split the data to 80% for train and 20% for test. After training the CHAID decision tree, now I want to know how I can measure the accuracy for 20% of test data:

X_train, X_test, y_train, y_test = cross_validation.train_test_split(X,y,test_size=0.2)

tree = CHAID(X_train,y_train,ma

[2016-08-04 21:30] Rambatino commented on #23
Are these the same issues? We're most likely going to be building a way of returning the decision rules of the tree.

How are you defining 'accuracy' @Tizpaz ? Can you point us to some resources and we can look into building this feature

[2016-08-04 21:49] Tizpaz commented on #23
Maybe this is another issue. In Machine Learning, after training a classifier (like CHAID) for example, with 80% of data set, we need to measure the accuracy of the classifier using the remain 20%. This is usually done be cross validation function which splits the data to two train and test data set. Now, the accuracy is the rate of correct prediction of class label for the test set: Accuracy = (T

[2016-08-05 21:33] Rambatino commented on #23
Okay, so I completely get what you're asking for now.

We have two related, but separate concepts here.

This issue outlined, originally here, is primarily dealing with stopping rules; something that is in progress of be being built (I think there may be a pull request for it) which will form version 0.4.0.

What you are asking for is to determine the accuracy of the model. You have a subset and y

[2016-08-06 00:09] Rambatino commented on #23
There is a new PR (which will need some work https://github.com/Rambatino/CHAID/pull/36, which will produce the stopping rules.. or at the very least this method _should be_ a precursor to that)

Also, we do have a 'risk' calculation, which looks at the observed dependent choice, compared to the predicted (as defined by the highest choice that row fell into) and calculates how well the model predi

[2016-10-13 16:56] xulaus commented on #35
Fixed in 1.0.0

[2016-10-13 16:56] #35 closed

[2016-10-17 11:33] Rambatino opened #44 "min_child_node_size defaults to None"
min_child_node_size defaults to 0 so that it doesn't break current API at version 2. This is inconsistent with min_parent_node_size and will thus have to be changed come version 3

[2017-02-20 15:36] #19 closed

[2017-03-20 17:03] #44 closed

[2017-03-20 17:13] xulaus commented on #17
This isn't closed. Addressed in PR #50

[2017-03-21 18:38] xulaus commented on #23
Fixed with PR #47, will be in version 3.0.0

[2017-03-21 18:38] #23 closed

[2017-03-21 18:38] #17 closed

[2017-03-23 10:00] xulaus opened #53 "User shouldn't have to pass in variables and variable types"
Key's for the variables types dict can be used for the names of the variables on the `Tree.from_pandas_df` function.

[2017-06-07 12:49] sriramab opened #64 "any working example?"
Hi,

I am interested in using your package for my research. Do you have any working tutorial document on how to use it on a dataset?

thank you

[2017-06-07 12:55] Rambatino commented on #64
Hi @sriramab, does the README.md not satisfy your requirements?

If not, do let us know if you have any specific questions regarding the API of this project.

[2017-06-07 13:10] sriramab commented on #64
Hi,

I installed via pip, but my python does not recognise the import statement. I may have forgotten to read, is this for python 2x or 3x? I am using 3x of anaconda with IDE pycharm community edition. pip install is a success and repeating the process clearly shows that CHAID is already installed.

I am unable to get this working.

[2017-06-07 13:19] Rambatino commented on #64
It works for all python.

Can you post the commands that you are using?

[2017-06-08 00:11] asram6 opened #65 "Creating tree different from README"
Hi,

I am running the example for creating a CHAID tree in the README. When I get to the line tree.print_tree(), I get: ([], {1: 5, 2: 5}, <Invalid Chaid Split>).
This is different from the result in the README, so I was confused why this is happening.
Also, could you give an overview of what the attributes are in the Tree object so I can better understand the output?

Thanks!

[2017-06-08 06:16] sriramab commented on #64
Hi,

When I installed (pip)  via mac terminal , the packages were installed but were not detected by pycharm. Then installed the packages via package manager in pycharm, then it works. Would you know why?

I am a beginner in python and I plan to use your package to generate decision trees for my model.

Thank you.

[2017-06-08 06:22] sriramab commented on #65
Yes, I also have different result.

[2017-06-08 14:25] Rambatino commented on #64
I'm not sure how pycharm works, having never used it. This is a pycharm issue, and it will be to do with where pycharm looks for your packages, you'll have to raise an issue with them.

Have you tried: https://stackoverflow.com/questions/19885821/how-do-i-import-modules-in-pycharm

[2017-06-08 14:35] Rambatino commented on #65
Hi, let me review the README and get back to you. thanks!

[2017-06-08 14:40] sriramab commented on #64
Thank you .

[2017-06-08 14:40] #64 closed

[2017-06-08 14:41] Rambatino commented on #65
Okay, so between v3.0.0 -> v.4.0.0 we changed the default for `min_child_node_size`. It was set at 0, but then we made it in line with `min_parent_node_size`, and thus changed it to 30.

I've updated the README, thanks!

[2017-06-08 14:41] #65 closed

[2017-06-08 14:44] Rambatino commented on #65
Will have a think about a way to write up the different classes of the Tree, so they can be better understood. May have a look this weekend.

[2017-06-08 14:48] asram6 commented on #65
Ok, thank you. For now, could you explain what this snippet means so that I at least have some idea right now:
`([], {1: 5, 2: 5}, ('a', p=0.001565402258, score=10.0, groups=[[1], [2]]), dof=1))`

[2017-06-08 16:05] pennylong123 opened #66 "Basic clarifications"
I am new to the CHAID algorithm in general and also to this package, so could you please give me a little clarification to what certain things mean? From what I understand so far, the dataset is a numpy array containing numbers, with several independent variables and one dependent variable. Then, constructing a tree gives us the CHAID output. Is this correct so far?
For the actual tree, could some

[2017-06-08 17:12] Rambatino commented on #66
Do you know @asram6 - he asked pretty much this same question earlier today.

I'll update the README now.

[2017-06-08 18:01] Rambatino commented on #66
Hi @pennylong123 please have a look at:

https://github.com/Rambatino/CHAID/pull/67/files?short_path=04c6e90#diff-04c6e90faac2675aa89e2176d2eec7d8

And give your opinions.

[2017-06-08 21:51] pennylong123 commented on #66
Thank you! Also, what does 'invalid CHAID split' mean? I thought it was when the subset at a certain node is "pure" and so cannot be split any further. However, I have tried some examples of my own and gotten that message.
For example, using the following data gives me `([], {0: 5, 1: 5}, <Invalid Chaid Split>)`:
   a  b  c
0  1  0  1
1  0  1  1
2  1  0  1
3  0  1  1
4  1  0  1
5  0  1  0
6  1  1

[2017-06-09 11:06] Rambatino commented on #66
It just means that certain thresholds have not been met yet. So it's reached max depth, or gone below minimum thresholds for a node. You can change these to make it split more. Eg.

https://github.com/Rambatino/CHAID/commit/53f6aae255774b25444955f5ce45d645ff168871

:thinking: maybe a more descriptive reason as to why it can't split would be appropriate

[2017-06-09 15:00] pennylong123 commented on #66
Yes, I changed the min_child_node_size, but there seem to be other thresholds that are stopping it from splitting. You mentioned max depth -- are there other thresholds too? And how can I set all of them when I am constructing the Tree?

[2017-06-09 15:16] Rambatino commented on #66
See here for the parameters you can pass into the tree building algorithm:

https://github.com/Rambatino/CHAID#parameters

[2017-06-09 15:18] Rambatino commented on #66
But also, with such small data, it's unlikely that it will find anything to split on at any meaningful level.

[2017-06-09 16:07] Rambatino commented on #66
On a final note, you can run:

[code]
elp on class Split in module CHAID.split:

class Split(__builtin__.object)
 |  A potential split for a node in to produce children
 |
 |  Parameters
 |  ----------
 |  column : float
 |      The key of where the split is occuring relative to the input data
 |  splits : array-like
 |      The grouped variables
 |  split_map : array-like
 |      The name of the

[2017-06-09 16:28] pennylong123 commented on #66
Thank you so much for all your help! For data that consists of strings instead of numbers, does the same procedure for constructing trees work? Also, could you give me a brief description of what each of the p-value, chi-score, and degrees of freedom mean in this context?

[2017-06-09 20:23] asram6 opened #69 "Output Tree as pandas DataFrame"
Is there any way I can output the Tree as a pandas DataFrame? Just wondering if there is a function to do this, or if I will need to write my own code to do that.

[2017-06-10 09:06] Rambatino commented on #66
Hi @pennylong123 the algorithm is based off of:

[TREE-CHAID.pdf](https://github.com/Rambatino/CHAID/files/1065705/TREE-CHAID.pdf)
So that should be able to answer all your questions.

Yes, any categorical data (strings, floats) in the independent variable set will run through the same procedure.

[2017-06-10 15:36] pennylong123 commented on #69
So I am trying to use Azure Data Lake Analytics to assign CHAID analysis jobs. This is done with a U-SQL script, and it seems like the only way to integrate Python in that script is to have a main function that takes in a dataframe and returns a dataframe. That's why I am trying to think of the best way to represent the tree in a dataframe, even though I realize it is not ideal.

[2017-06-10 15:37] asram6 commented on #69
So I am trying to use Azure Data Lake Analytics to assign CHAID analysis jobs. This is done with a U-SQL script, and it seems like the only way to integrate Python in that script is to have a main function that takes in a dataframe and returns a dataframe. That's why I am trying to think of the best way to represent the tree in a dataframe, even though I realize it is not ideal.

[2017-06-10 15:43] Rambatino commented on #69
Try:

[code]

[2017-06-12 16:00] asram6 commented on #69
When I do that it seems to give me an empty dataframe, even though there are nodes in the tree

[2017-06-13 09:40] Rambatino commented on #69
You'll have to run
[code]

As the tree is not built yet. Although, that's changing with the new release, and you'll be able to access the tree store without having to build it.

[2017-06-14 12:56] #53 closed

[2017-06-19 16:23] Rambatino commented on #69
Closing due to inactivity.

[2017-06-19 16:23] #69 closed

[2017-06-19 16:23] Rambatino commented on #66
Closing due to inactivity.

[2017-06-19 16:23] #66 closed

[2017-06-26 16:31] asram6 opened #71 "CHAID tree to json"
Hi,
I am trying to get the json string corresponding to the CHAID tree. I tried converting the CHAID tree to a treelib tree, and then the treelib package has a method to_json().
However, when I call to_json() on the treelib tree, I get the error:
[code]

Is there any way I can solve this problem? Any tips would be appreciated. Thanks!

[2017-06-27 10:17] Rambatino commented on #71
It means that there is no method on a node object that looks like:

[code]

If you require it to be there, please submit a PR with the code and a spec and I can review it.

It isn't on our roadmap, so will have to be built by the community.

[2017-06-30 15:57] Rambatino commented on #71
Closing, as that's the solution. Please let me know if you need anymore help.

[2017-06-30 15:57] #71 closed

[2017-07-04 08:21] vsharathchandra opened #72 "Why isn't there a predict function ?"
I split the data into train and test data.I have run the chaid on train data,Now I would like to use it to predict the output of test data.I want to do this for classification.

[2017-07-04 12:42] Rambatino commented on #72
Hmm I do remember doing something with this, but at the moment it doesn't appear to be in the main library.

I'll have a look at the work I did a while ago, but it won't be production ready any time soon.

You're of course welcome to build it out yourself

[2017-07-04 13:41] Rambatino commented on #72
@coderking7 are you able to have a try with :point_up:

[2017-07-06 19:09] Rambatino commented on #72
@coderking7 please test on that branch with:
[code]

[2017-07-07 21:46] Rambatino opened #74 "Risk broken, needs speccing"
[code]

[2017-07-10 20:14] asram6 opened #75 "Continuous independent variables?"
Hi,

Is there any way to specify that certain independent variables are continuous? For example, if I have a variable for age, I would like that to be continuous so that for the splits, it gives ranges of age instead of each individual age in that group.

Thanks!

[2017-07-14 16:46] asram6 commented on #75
It seems that for independent variables, we can only classify them as nominal or ordinal. Is this correct? Please let me know if there is any way to have continuous independent variables?

[2017-07-15 12:55] Rambatino commented on #75
There isn't.

How do you group a continuous variable? You can't really, which means you have to bucket it. So on your side, you'd have to bucket age into logical groupings. E.g. 0-10, 10-20, 20-30 etc... and then make that a _ordinal_ categorical variable. You need a sufficient base size for each grouping, ideally.

Alternatively, if you had age ranges from 0-100 (the natural numbers up to 100), a

[2017-07-17 17:17] asram6 commented on #75
Ok, so there isn't really anything that can be done if I have an age variable that is not in buckets? By grouping the continuous variable, I actually just meant that if there is a node that looks like this:

`(['female'], {1': 299, 0': 277}, (Age, p=x, score=y, groups=[['2, 25, 30, 42, 16'], ['17']]), dof=1))
`
I would like it to instead do this:
`(['female'], {1': 299, 0': 277}, (Age, p=x, score=

[2017-07-17 18:15] Rambatino commented on #75
Ahh so you are passing them in individually. Make sure you're passing in them as _ordinal_ type, otherwise it will invalidate the whole analysis. It does kinda look nominal there.

I guess it's not a totally unreasonable thing to want something that is `ordinal` to have some intrinsic grouping when printed.

@xulaus what do you think?

[2017-07-18 09:06] xulaus commented on #75
The trouble comes in where there is non-integer `ordinal` values. i.e. "Strongly Agree", "Agree", "Disagree", "Strongly Disagree". How do you automatically decide how to print them? What about other languages?

That said there does look like something funky going on in the grouping there as connecting integers with commas doesn't seem like it would be the right default.

[2017-07-18 09:16] Rambatino commented on #75
yeah but if it was ordinal _and_ numeric _and_ whole numbers. Then it would work? Which is the case for ages.

But you're right, I don't understand the printing there. Those values should not be string concatenated.

@asram6 what if you do:
[code]

[2017-07-18 16:21] asram6 commented on #75
It says "'Node' object has no attribute 'groupings.'" I think for now I will try and convert my data into buckets instead of passing in individual numbers.
How do I specify the independent variable types (ordinal or nominal) when I use the Tree constructor (not the from_pandas_df method)?
If I do something like:
`tree = Tree(ndarr, arr, split_titles=['a', 'b', 'c'], min_child_node_size=5, variable

[2017-07-19 09:03] Rambatino commented on #75
Ahh it's `[node.split.groupings]`(https://github.com/Rambatino/CHAID/blob/master/CHAID/split.py#L62), rather.

Try:
[code]

[2017-08-02 16:20] #75 closed

[2017-09-08 16:00] pietrogiuffrida opened #79 "Maybe an error in the doc?"
Hi Rambatino,
thanks for your work.
Maybe this code:
`tree = Tree.from_pandas_df(df, dict(zip(independent_variable_columns, 'nominal' * 3)), dep_variable)`
should be:
`tree = Tree.from_pandas_df(df, dict(zip(independent_variable_columns, ['nominal'] * 3)), dep_variable)`
Regards

[2017-09-18 11:05] shaheming commented on #79
Yes, I think there is some problem too!

[2017-09-22 06:34] jm2909 commented on #72
I have tried a basic implementation of the predict function for my own project.
This is the link of the code:
**https://github.com/jm2909/CHAID-Predict-Function-Testing.git**

I am a new guy in python. Any suggestions or critics will be appreciated, if there is any implementation mistake.

[2017-09-24 19:50] Rambatino commented on #79
Yep you're right. Will fix now. If you find anything else, do let me know!

[2017-09-25 07:56] #79 closed

[2017-09-26 13:55] xulaus opened #81 "Valid splits discounted when most significant split is generated below base size"

[2017-09-29 11:31] #81 closed

[2017-12-22 18:51] waio1990 opened #85 "Couple questions"
Hi, there, first of all thank you very much for this, it has helped me inmensely in my work these days. I have had a couple issues while running this though, and I'd like to ask for some guidance, please bear with me as im no expert in python.

1. I'm running windows 64 bits + anaconda, primarily using python 3.5, however for some reason i was unable to use pip to install this module using pip in

[2018-01-04 10:13] Rambatino commented on #85
Hi @waio1990! 👋  Apologies for the delay, christmas holidays...

I can see that you're potentially running into some issues, and also have a feature request (to turn off invalid split messages).

It's a tad hard to see exactly what your problems are without any stack traces / error logs.

Regarding the continuous dependent variable, what were you casting to string exactly? Treelib has some issues

[2018-02-08 16:03] waio1990 commented on #85
Hi, sorry for the delay too, move out of this for a while as I was prepping the data I'm now using.

So I'm down mostly to unitcode to ascii problems now, as the rest seems to work properly (I edited some code in the module to supress the invalid split and moslty format my output to suit my database specialist needs).

So my routine does something like this:

`   def fchaid(df,resp,caract,maxl,nom

[2018-02-20 11:19] Rambatino commented on #85
The issue is here: https://github.com/caesar0301/treelib/blob/master/treelib/tree.py#L645

Unfortunately, it's in a different package. I'm going to have a see if I can get a workaround in. Will let you know.

I'm basing this on the assumption that your error is something similar to:

[code]

[2018-02-20 11:29] Rambatino commented on #85
Actually, I'm not so sure we can recreate as we do have specs for this: https://github.com/Rambatino/CHAID/blob/master/tests/test_tree.py#L405

If you could duplicate that spec function, add your slightly different unicode issue in there, then it will be really easy for us to workout what exactly your issue is.

[2018-02-28 14:15] waio1990 commented on #85
Okay, i Fixed most of the problems by installing the python 3.5 module, which I did by manually installing savReaderWriter from SPSS website.

It now works mostly flawlesly, however:

- When I run '''Tree.from_pandas_df it runs instantly, but when I do "print_tree" it throws a couple warnings (div by 0 in scipy.stats) and exits, then I simply call the tree in a promt, it takes a while to display,

[2018-03-02 14:39] Rambatino commented on #85
[code]

Not quite sure how to debug that. Can you provide a stack trace? A little detailed example would be great, but no biggie if it's hard to create.

[code]

So this is something i experimented with a while ago, and will pick up if there is a demand. Basically, this pr: https://github.com/Rambatino/CHAID/pull/73. If you look at:

https://github.com/Rambatino/CHAID/pull/73/files#diff-e6c1449d12

[2018-03-02 15:52] waio1990 commented on #85
Okay this is answer is for both combined

So i made my own function to suit my "prediction" needs, and it worked okay, it relies on the get_rules() function already in the package to apply those rules to the data and replace with what I wanted (mean of group)

When I run the code, the tree.from_pandas_df() call is again instant, then when I run my predict function it slows down for a long while, s

[2018-03-05 09:31] Rambatino commented on #85
I mean, that's come from somewhere in your code so I can't really help with that.

[2018-06-04 19:32] Rambatino commented on #85
Closing due to inactivity. Please open a new Issue if you feel that things still need discussing :)

[2018-06-04 19:32] #85 closed

[2018-06-25 09:04] Rambatino commented on #72
@jm2909 I unfortunately don't have too much time to go and read so much code! However, if it does what you need then great! 👍

Feel free to for CHAID and contribute if it works and has a sufficiently acceptable API.

I'm going to close this due to inactivity now.

[2018-06-25 09:04] #72 closed

[2018-08-24 14:01] rleiva opened #87 "model_predictions fails with categorical dependant variables"
If the dependent variable is categorical, where categories are strings, the method model_predictions fails. The problem is that the the pred array is initialized as:

    pred = np.zeros(self.data_size)

and that enforces predictions to be numerical. In order to solve that, the model_predictions could be rewritten to something like the following:

    pred = [None] * self.data_size
    for node in

[2018-09-18 03:14] Rambatino commented on #87
@rleiva very sorry for the delay, I've been away and forgot to check!

Will have a look at this now :)

[2018-09-18 10:03] #87 closed

[2018-10-01 21:40] LUSAQX opened #89 "Make predictions on testing set and calculate the propensity scores"
Hi Authors,

Thank you for your great work and open source packages for CHAID implementation.

I am using your package in my project but find little information about how to make prediction from training CHAID model on the testing set and also is it possible to calculate the propensity scores based on the current capacity of this package? Looking forward to your reply, thanks :)

[2018-10-03 01:31] Rambatino commented on #89
Hi @LUSAQX, thanks for getting in touch!

1) You want to run the CHAID model on a dataset (i.e. train it) and then test that on an unseen dataset?

I've written some code that calculates the accuracy of applying it to an unknown set. If you drop an `import ipdb; ipdb.set_trace()` at line 82 of __main__.py and run `python3 -m CHAID tests/data/titanic.csv survived sex embarked --max-depth 4 --min-pa

[2018-10-03 01:34] Rambatino commented on #89
*N.B that code works but it's not been tested properly

[2018-10-03 22:16] Rambatino commented on #74
fixed in

[2018-10-03 22:16] #74 closed

[2018-10-04 21:47] LUSAQX commented on #89
Hi @Rambatino, thanks for kind response.  After careful review of your code above, I have some points to seek your clarification.

- the method tree.model_predictions() seems only make prediction on training data, not the unseen test data;
- I saw in your code, you assume all predictor variables are categorical, deduplicate the trainset to have a lookup file for each unique combination of independ

[2018-10-05 21:13] Rambatino commented on #89
So `tree.model_predictions()` uses the model, created on the training data and uses that to work out what it would have predicted on that dataset. Of course, this leads to overfitting, but it's a good approximation for calculating the accuracy of that model.

In general, CHAID does assume the predictor variables are categorical, they have to be otherwise you can't run the algorithm. If age is not

[2018-10-08 04:40] Rambatino commented on #89
This adds a predict function (as well as a class for finding the best tree): https://github.com/Rambatino/CHAID/pull/91

[2018-11-19 13:43] appleyuchi opened #92 "IS ID5 tree equalst to CHAID in concepts?"
Is ID5 tree equivalent to CHAID in concepts?
Many thanks

[2018-11-20 00:17] Rambatino commented on #92
Most probably not, as ID5 was not taken into consideration when building the algorithm.

[2018-11-20 00:17] Rambatino commented on #92
If you could explain your question with specifics related to tree building properties I can answer in more detail

[2018-11-26 21:56] Rambatino commented on #92
Closing as stale.

[2018-11-26 21:56] #92 closed

[2018-11-26 21:56] Rambatino commented on #89
Closing as stale

[2018-11-26 21:56] #89 closed

[2019-02-18 12:51] greghor opened #93 "how to graphically display the tree?"

[2019-02-18 12:55] greghor commented on #93
Is there any tool available to visualize the chaid tree? Maybe something equivalent to export_graphiz for CART?

[2019-03-28 05:51] Rambatino commented on #93
There is this: https://github.com/Rambatino/CHAID/blob/master/CHAID/tree.py#L198
![image](https://user-images.githubusercontent.com/3631109/55133245-eb350280-5189-11e9-94fc-414eb3f258f7.png)

Which uses https://github.com/Rambatino/CHAID/blob/master/CHAID/tree.py#L2

If you look at the treelib source code there is this: https://github.com/caesar0301/treelib/blob/master/treelib/tree.py#L865

![imag

[2019-03-28 09:29] greghor commented on #93
Thanks for your reply! I ll take a look at it!

[2019-03-29 05:56] Rambatino commented on #93
@greghor have a look at https://github.com/Rambatino/CHAID/pull/94

[2019-04-16 01:59] #93 closed

[2019-04-17 00:01] Rambatino commented on #34
Closing as pretty old and we've not picked up any regressions.

[2019-05-06 23:38] #34 closed

[2019-05-07 15:31] VivianMagri commented on #72
I have recently started working with analytics and I came here looking for a model to do the same as vsharathchandra described and. When I couldn't find on documentation anything of the sort of a method 'predict', I came to the issues and discovered it really wasn't thought for this goal.
Pardon my ignorance, but now I really am confused. What was the intended use of this library? I had the idea t

[2019-05-07 15:34] VivianMagri commented on #72
I have recently started working with analytics and I came here looking for a model to do the same as vsharathchandra described. When I couldn't find on documentation anything of the sort of a method 'predict', I came to the issues and discovered it really wasn't thought for this goal.
Pardon my ignorance, but now I really am confused. What was the intended use of this library? I had the idea that

[2019-06-07 23:27] Rambatino commented on #72
The intended use of this library is to run it on a set of data and it will tell you what independent variables have a large affect on an outcome variable. E.g. Males under 40 really like drinking or whatever. It originally wasn't intended to make predictions on unseen data - it's more classical statistics [apply model to data].

Have a look at XGBoost Classifier and Regressor if that's the functio

[2019-11-18 18:30] majbahUSC opened #97 "Export error"
Hi, while exporting the tree, I am getting the following error.
![Capture](https://user-images.githubusercontent.com/16784935/69079273-9e978380-0a07-11ea-8906-3cf55828e8d2.PNG)

[2019-11-24 22:57] Rambatino commented on #97
I see.

I've not tested this on windows. Will fix now

[2019-11-24 23:00] Rambatino commented on #97
Have you tried passing `--export-path`?

[2019-11-25 01:33] majbahUSC commented on #97
Yes, but I got the same error using the path as well.

[2019-11-25 22:08] Rambatino commented on #97
Can you paste the error in with the full command when you pass --export-path. Thanks!

[2019-12-30 09:30] Ranji321 opened #98 "tree.to_tree() is not working for creating the dot file in CHAID analysis and also tried "tree.render(path=None, view=False)" to get tree but failed get so.. please any suggestion"

[2020-01-07 10:38] Ranji321 opened #99 "Issue in running the "tree.render(path=None, view=False)""
Running the following code
  tree.render(path=None, view=False)

is through this error.

File "C:\Users\ps\AppData\Local\Continuum\anaconda3\lib\site-packages\graphviz\files.py", line 166, in save
    with io.open(filepath, 'w', encoding=self.encoding) as fd:

OSError: [Errno 22] Invalid argument: 'trees/2020-01-07 16:00:08.gv'

any solution on this please..?

[2020-01-07 10:42] #98 closed

[2020-01-07 13:28] mjpieters commented on #97
You should really avoid creating paths by appending strings, the standard `os.path` and `pathlib` libraries are far more reliable and help avoid cross-platform issues. Next, don't assume that `/tmp` is the temporary directory, Python has a [`tempfile` module](https://docs.python.org/3/library/tempfile.html) to handle these issues.

I'd create a `tempfile.TemporaryDirectory()` object, so that any f

[2020-01-07 13:34] mjpieters commented on #99
The library tries to generate the GraphViz definition file in a directory relative to the current working directory. If you don't have a `trees` subdirectory in your current working directory, or you can't write to that directory, you'd get errors.

Set `path` to a location to write that file to where the directory does exist, instead.

[2020-01-07 14:01] Ranji321 commented on #99
Thank you for the quick reply.
I did the following

from CHAID import Tree
import pandas as pd
import numpy as np
import os

os.chdir('C:\\Users\\data\\AppData\\Local\\Continuum\\anaconda3\\Lib\\site-packages\\graphviz')
df=pd.read_csv('C:\\Users\\ps\\chaid_pro.csv')

independent_variable_columns =['gende','no_renewal','accident_no', 'complaint_count',
 'CC_counts']

dep_variable = 'switch'
tree =

[2020-01-07 15:53] mjpieters commented on #99
No, you seem to have misunderstood me.

- Don't use `os.chdir()` to change the working directory to the folder where you have a related library installed. You don't want to write data to installed Python libraries.
- Don't use `os.chdir()` at all, just add a `path` argument to `tree.render()`

So

[code]

[2020-01-07 16:38] Ranji321 commented on #99
I tried that it is showing the error as
FileNotFoundError: [WinError 3] The system cannot find the path specified: '/tmp/157841490190849018096923828125.png'

[2020-01-07 17:40] mjpieters commented on #99
That's issue #97, I have issued a pull request (#100) that attempts to fix those issues.

[2020-01-08 08:16] Ranji321 commented on #97
Hi, I did that but still it is getting as
PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'C:\\Users\\PS\\AppData\\Local\\Temp\\tmpus2ps0tk\\tmp_eub1j8w.png'

I deleted temp files and restarted but still the same. Please help me to fix this.
Thank you

[2020-01-08 09:50] Ranji321 commented on #99
Hi, I followed pull request but still I m getting as
PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'C:\Users\PS\AppData\Local\Temp\tmpus2ps0tk\tmp_eub1j8w.png'

I deleted temp files and restarted but still the same. Please help me to fix this.
Thank you

[2020-01-08 10:50] mjpieters commented on #99
Since you are now talking about my pull request #100 for issue #97, it'd be helpful to leave your comment on one of those two places. Also, for Python exceptions the _full traceback_ is always going to be helpful, because that tells us not only the exception, but also where it was thrown and how Python got there.

In this case, I can see what goes wrong, I didn't account for Windows' temp file han

[2020-01-08 12:31] mjpieters opened #101 "Python 2 incompatibility: invalid_split_reason.py uses enum"
Python 2 compatibility was broken [in 2017](https://github.com/Rambatino/CHAID/commit/2fc4a40a2eacd57824b1d18e129548e3dea5a52e#diff-979c6f89bea5d4309126109d4a16a264) because `invalid_split_reason` now relies on the enum module (Python 3.4 and newer).

While you could use the [`enum34` backport package](https://pypi.org/project/enum34/), I'd not bother. Not when no-one seems to have reported this f

[2020-01-08 12:39] mjpieters commented on #101
However, the fix would be a simple update to the `install_requires` list of dependencies, adding `'enum34; python_version == "2.7"'`.

[2020-01-08 12:43] mjpieters opened #102 "Missing dependencies"
To create a graph, [plotly-orca](https://github.com/plotly/orca) needs to be installed. This should at least be mentioned in the documentation.

This involves more than what Python setuptools dependencies can handle, but perhaps the `psutil` and `requests` dependencies (which *can* be handled as `install_requires` or `extra_requires` entries) should just be added to `setup.py`?

[2020-01-13 10:51] Rambatino opened #105 "Warnings have appeared when running specs locally. The bit rot is real"
[code]

[2020-01-13 10:54] #97 closed

[2020-01-13 11:38] #101 closed

[2020-01-13 11:44] #102 closed

[2020-01-13 13:02] Rambatino commented on #99
@mjpieters thanks for looking into this. I've merged those other PRs, although I think moving forward we're not going to actively support python 2.x.

@Ranji321 I'm going to close this issue, I've released CHAID 5.3.0, so may you please install it via `pip install CHAID==5.30` (must be using python3, as there isn't a py2 wheel for it).

If there are still issues can you open a new issue with the s

[2020-01-13 13:02] #99 closed

[2020-01-13 16:09] Rambatino commented on #105
Turns out pytest just handles them differently. It's likely they were always there.

http://doc.pytest.org/en/latest/warnings.html

[2020-01-14 08:41] Rambatino opened #106 "Need to spec out the graphing architecture"

[2020-01-14 09:58] Rambatino commented on #106
https://github.com/Rambatino/CHAID/pull/100#issuecomment-573671260

[2020-02-20 16:11] surendraatgithub opened #107 "Issue with members property"
Issue with members property i.e.
node_obj = CHAID.Node()
print(node_obj) or node_obj.__repr__() fails because members property expects dep_v to be not none.
If dep_v is mandatory then default value should be removed  in __init__.

[2020-02-21 16:48] Rambatino commented on #107
Not sure I follow.

Are you able to leave a reproducible example.

Thanks!

[2020-02-21 16:58] surendraatgithub commented on #107
Sure will do

Sent from my iPhone

[2020-02-28 11:49] Rambatino commented on #107
@surendraatgithub I'm going to close this due to inactivity.

If you're able to get a reproducible example, please feel free to open a new Issue with that.

[2020-02-28 11:49] #107 closed

[2020-04-16 06:35] 1DanielG opened #108 "Error while importing in Jupyter Notebook"
I have installed last version of CHAID Package, when I am trying to import CHAID into my notebook .  getting a syntax error

`from CHAID import Tree`

error message:

[code]

[2020-04-16 09:24] Rambatino commented on #108
Hi @1DanielG I've made a note to look into this in the next few hours.

[2020-04-16 09:40] Rambatino commented on #108
Ahh I can see the error (line 75 of `graph.py`)

# Current Version

https://github.com/Rambatino/CHAID/blob/master/CHAID/graph.py#L75

# Old Version

https://github.com/Rambatino/CHAID/blob/f196f45a627bfd38610dbd8aa2c55edc9390aa0d/CHAID/graph.py#L75

You'll see in the most recent version that it doesn't use that method anymore. Thus your CHAID library isn't up to date.

You're most likely on versi

[2020-04-16 09:41] Rambatino commented on #108
What is your output of `pip freeze | findstr CHAID`?

[2020-04-16 13:16] 1DanielG commented on #108
Yes! I had 5.2.1 . I upgraded it to 5.3.0. It works fine now . Thanks man

[2020-04-17 09:40] Rambatino commented on #108
Amazing 🙌

[2020-04-17 09:40] #108 closed

[2020-05-09 12:58] diogoalvesderesende opened #109 "No Attribute "from_numpy""
Hi!

I think it is really great that you did this package. CHAID is a wonderful and useful technique. I tried to use errors but I get the following error:
[code]

Do you know what I am doing wrong?

Thanks in advance!

[2020-05-11 09:38] Rambatino commented on #109
In the README.md =>

[code]

Most likely you just need to:

[code]

emphasis on the capital 'T'.

Let me know if this helps. If not, feel free to send a worked example over.

[2020-05-11 09:39] Rambatino commented on #109
(it looks like you've already created your tree in that example - it's a class method so only applies to the Tree class, not the instance variable)

[2020-05-11 13:10] diogoalvesderesende commented on #109
It was the capital T missing. Newbie mistake. Thanks a lot for the follow up!

[2020-05-11 13:10] #109 closed

[2020-05-11 14:12] diogoalvesderesende opened #110 "Not being able to visualize the tree"
Hi again,

Unfortunately, I cannot export the tree graph. Here is a reproducible example:
[code]

This is the error I get:
[code]

Could you help? thanks!

[2020-05-12 08:11] Rambatino commented on #110
The double `\` looks a little suspect.

[2020-05-12 08:15] Rambatino commented on #110
Are you _sure_ `os.environ["PATH"]` is what you want? I'm on OSX and that prints out all available paths in your shell env, which is not what you want.

Give it a literal path and tell me what it prints.

try:

[code]

[2020-05-17 13:48] Rambatino commented on #110
Hi @diogoalvesderesende have you had a look at this anymore?

[2020-05-23 05:49] diogoalvesderesende commented on #110
Hi @Rambatino , Thanks for the follow up. I have looked but did not work. I will give a deeper look and include here a reproducible example.

[2020-05-23 13:01] Rambatino commented on #110
Okay thanks @diogoalvesderesende

[2020-06-01 17:48] #106 closed

[2020-06-01 17:48] #110 closed

[2020-06-01 17:52] #105 closed

[2020-10-16 13:14] KamilGos opened #112 "Exhaustive chaid"
What should be changed in Your code to get an "exhaustive CHAID" version of this algorithm?

Here is the explanation: ftp://ftp.software.ibm.com/software/analytics/spss/support/Stats/Docs/Statistics/Algorithms/13.0/TREE-CHAID.pdf

[2020-10-16 14:11] Rambatino commented on #112
Hi @KamilGos, the only difference is the merging of the predictors right? So that means it's in the best_splits() method, which would exhaustively find the best pair.

The variable would need to be passed down, or it could even be via a new ExhaustiveCHAID class. Either way, shouldn't be too difficult.

[2020-10-17 13:44] KamilGos commented on #112
Yes, that is right.

Ok, I will try then. It is just a little difficult for me to understand Your _best_con_split()_ function (I work witch continuous dependent variable) so I don't know where should I put the changes actually, but I will try. Thanks.

[2020-10-17 14:31] Rambatino commented on #112
So, there are multiple ways to do this, I don't know off the top of my head which would be better (it's been a few years since I've looked into the code as it's been production grade for a long time).

The `best_con_split()` is a little verbose. But I wonder whether `ind_var.possible_groupings(exhaustive=True)` could be an easy solution (and then finding a way of passing that variable down).

Ther

[2020-10-17 15:03] KamilGos commented on #112
I'll try to use your idea.

Regarding your question, when I was working with your code using simple CHAID method it was working pretty fine (exactly as expected) so I didn't think about using other statistical functions. Now I'm working with ex-chaid and I thought I would just make a small change to the code and it would work but I'm stuck analyzing the function I mentioned earlier. But yes, you m

[2020-10-19 15:53] Rambatino commented on #112
Yeah that function could probably be dryed up a bit.

Let me know how you get on, I may have time to look at some point this week, if you aren't able to crack it.

(although the unit tests should be useful for you)

[2020-10-25 12:57] KamilGos commented on #112
Hi, I still can't handle it. If you could try to make this modification I will very gratefull ! Thanks for the thought anyway.

[2020-10-30 09:49] Rambatino commented on #112
@KamilGos can you have a look at: https://github.com/Rambatino/CHAID/pull/113 🙏

[2020-10-30 10:28] KamilGos commented on #112
It works as expected. Thank you so much!!! I very appreciate your effort.

[2020-10-30 10:28] #112 closed

[2020-12-11 15:57] Sandy4321 opened #115 "is it copy of https://github.com/codingblg/CHAID_phi"
is it copy of https://github.com/codingblg/CHAID_phi

[2020-12-11 19:00] Rambatino commented on #115
Yes see: https://github.com/codingblg/CHAID_phi/blob/master/setup.py

[2020-12-11 19:00] #115 closed

[2021-02-13 09:23] diogoalvesderesende opened #116 "Not being able to visualize it in Colab"
Hey,

Thanks for the library, it is fantastic to have a python version of CHAID!

I am having issues visualizing the tree model. I get some error about orca and I cannot find a way to solve. Would you have any idea on how to fix it?

Please find here the link to the script:
https://colab.research.google.com/drive/1pteueOMAd_QhioL5Kw9FyfqmhaMpHoYi?usp=sharing

Thanks,
Diogo

[2021-02-15 10:08] Rambatino commented on #116
Hey thanks for your interest and for the issue you've found!

I have seen that error before.

Have you set up both the graphviz and orca as in here:

graphviz: https://stackoverflow.com/questions/35064304/runtimeerror-make-sure-the-graphviz-executables-are-on-your-systems-path-aft
orca: https://github.com/plotly/orca

[2021-02-15 15:37] soonmi-m commented on #116
I have a similar problem.

For the graphviz, I followed this video to got it to work.
https://www.youtube.com/watch?v=kOYnlqbZ8K4
For orca, I was able to install it and verify that the orca executable is available on my path through command prompt.

However, even with those addressed, I am still unable to get the visual to work.

I'm still pretty new to Python, so I was going to ask if I'm suppose

[2021-02-15 16:16] Rambatino commented on #116
So the glaring issue in the colab notebook is:

[code]

As /path/to/orca is the example rather than the actual path to orca.

I've recreated it locally, will see if fixing the path works.

[2021-02-15 16:33] soonmi-m commented on #116
This might be a silly misunderstanding on my end, but I tried getting the path through the desktop orca properties and through my anaconda folder, and still got errors (even if I take out the quotes, it doesn't work).

![image](https://user-images.githubusercontent.com/74330470/107972204-7fc4cb80-6f81-11eb-86ad-f851413ba12f.png)

[2021-02-15 17:56] Rambatino commented on #116
So it's not the program I don't think. It's the executable.

For my mac I installed orca using `brew install orca`. I then ran orca and it moved the cli into my /usr/local/bin:

Therefore:
[code]

![image](https://user-images.githubusercontent.com/3631109/107979824-25466200-6fb7-11eb-8420-91d29709dda8.png)

[2021-02-15 17:57] Rambatino commented on #116
(I recreated the issue, then installed orca. When I opened the program it then moved the cli into /usr/local/bin)

[2021-02-15 17:58] Rambatino commented on #116
Because it was in a standard path you don't need to specify the location of orca.

[2021-02-15 17:59] Rambatino commented on #116
`which orca` needs to return a path for unix systems (including mac). `where orca` needs to return the correct path for windows systems

https://www.shellhacks.com/windows-which-equivalent-cmd-powershell/#:~:text=The%20where%20command%20is%20a,of%20executable%20commands%20in%20Windows.

[2021-02-15 18:00] Rambatino commented on #116
I'm not exactly sure what the issue is there. Have you tried double quotes rather than single?

[2021-02-15 18:38] soonmi-m commented on #116
I have :/

[2021-02-15 18:48] xulaus commented on #116
the Unicodeescape error is because python is interpreting `\U` as the start of a unicode literal. You need double backslashes to escape a backslash properly, or I think forward slashes work for paths most of the time on windows systems.
[code]

[2021-02-15 19:51] soonmi-m commented on #116
I got the path to work, but now I'm back to the initial problem I had with the invalid argument in trees. -_-
I tried to specify my path to somewhere on my computer, then ran into an access problem, which might not be worth investigating since I am just an intern...

Thank you for your responses! The CHAID package works really well for me otherwise and has been helpful.

![image](https://user-imag

[2021-02-16 09:03] Rambatino opened #117 "I got the path to work, but now I'm back to the initial problem I had with the invalid argument in trees. -_-"
I got the path to work, but now I'm back to the initial problem I had with the invalid argument in trees. -_-
I tried to specify my path to somewhere on my computer, then ran into an access problem, which might not be worth investigating since I am just an intern...

Thank you for your responses! The CHAID package works really well for me otherwise and has been helpful.

![image](https://user-imag

[2021-02-16 09:05] Rambatino commented on #116
@soonmi-m this seems to be a different problem to the orca issue above.

@diogoalvesderesende let's carry on the orca issue here. The difficult thing is that you need to get it to install in colab, and also you need to make the visual in-line. I don't think it's a trivial problem, unfortunately.

[2021-02-16 09:07] Rambatino commented on #117
@soonmi-m can you double check that you're on the most recent CHAID version? 5.3.0?

[2021-02-16 10:31] diogoalvesderesende commented on #116
Hey Mark,

Hey Mark,
I have managed. Not able to plot in-line, but I take what I get. Thanks for the help! For Google Colab, you need to install this as well:
[code]

Then for the visualization, this worked for me:
[code]

Again, great package. I have a few questions that hopefully you could help me to take it the next level:

1) If I factorize the predictors, would it also work?
2) Is there a way

[2021-02-18 13:22] Rambatino commented on #116
Not currently, no. I haven't really put much thought into the plot. If you want to do a PR with increased font size (and any other cosmetic changes) I'll approve, merge and release.

Maybe, I'm not quite sure what you mean

[2021-02-18 18:52] diogoalvesderesende commented on #116
Hey Mark,

I mean if I were to use OneHotEncoder, or the factorize function from
Pandas, would it also work? Currently, the examples are only with binary
variables.

I would love to do a PR, but my Python, and knowledge of it is not good
enough :/

Thanks and best,
Diogo

On Thu, 18 Feb 2021 at 14:23, Mark Ramotowski <notifications@github.com>
wrote:

[2021-02-19 09:50] Rambatino commented on #116
The ChiSquare stats functions permits any number of categorical variables (it doesn't need to be binary), but the results are more difficult to interpret (and also the likelihood for sub combinations to be significant increases) - One hot encoding is really useful for giving easier to explain answers because everything is equally weighted as a yes/no binary variable (see my answer here for an easy

[2021-02-23 20:28] Rambatino commented on #116
closing PR as seems resolved

[2021-02-23 20:28] #116 closed

[2021-02-23 20:29] Rambatino commented on #117
Closing as stale.

Please reopen another issue @soonmi-m if it's an on going issue.

But please check the above

[2021-02-23 20:29] #117 closed

[2021-05-17 07:40] divatemangesh opened #118 "Documentation for library"
Hello  team

Can somebody create documentation for the library. So that  some one can understand it easily.  May be on read the docs

[2021-05-17 07:45] divatemangesh opened #119 "Nominal Column is not defined"
In the documentation (README.md)  code snippet (Creating a CHAID tree)

Nominal column variable/function is not defined..

So while running the code snippet getting same  error

[2021-05-17 12:50] Rambatino commented on #118
Hi @divatemangesh the README.md has a lot in it.

What is is that you're trying to do?

[2021-05-17 12:54] Rambatino commented on #119
See https://github.com/Rambatino/CHAID/pull/120

[2021-05-17 14:05] divatemangesh commented on #118
I wanted some method by  using which I can  grow the tree. level by level based on choice.
And choice can be one of following

- find next best split for specific node
- choose Column one which I want to split data

Let's say as in titanic data  I am  getting "Sex" as  first split and "pClass" a
 second split. On. For both male and female node

but if suppose I want to split male node on  "Cabin"

[2021-05-18 11:00] Rambatino commented on #118
We don't currently support that functionality, unfortunately.
It also won't be built any time soon, but you're welcome to create a PR with that functionality.

[2021-05-25 12:50] #119 closed

[2021-05-25 12:50] #118 closed

[2021-06-10 10:33] Soumaya787 opened #121 "Issue exporting tree graph"
Hello, I get the following error when i try to export the tree graph.

[code]

I tried one of the suggested workarounds but I get another error :

[code]

[2021-06-23 16:12] Rambatino commented on #121
Hello!

Is graphviz in your path? I can see this error:

[code]

[2021-07-01 07:48] yokoshin opened #122 "how to get feature_importance"
Hi, I have a question.
How can I get the importance of each independent variable?
I mean "feature_importance" in other ML libraries.

[2021-07-01 08:01] Rambatino commented on #122
Ideally this library should implement all of these: https://towardsdatascience.com/the-mathematics-of-decision-trees-random-forest-and-feature-importance-in-scikit-learn-and-spark-f2861df67e3

They're also not hard to do, you just need the time, which I don't really have at the moment. Feel free to submit a PR, there's a decent example here: https://github.com/Rambatino/CHAID/blob/master/CHAID/tre

[2021-07-01 08:02] Rambatino commented on #121
Closing as stale

[2021-07-01 08:02] #121 closed

[2021-07-02 04:14] yokoshin commented on #122
I don't think It's difficult  to impl feature importance.
My understanding is that  feature importance is calculated based on some index like gini or entropy.
Do you know which index CHAID in SPSS use?

[2021-07-02 08:17] Rambatino commented on #122
What do you mean exactly?

[2021-07-02 08:19] Rambatino commented on #122
I don't unfortunately, haven't looked at this stuff in a while since the repo hit maturity. There's a PDF somewhere that breaks down the calculations, I couldn't find it just now, but it shouldn't be too difficult to track down

[2021-07-04 15:05] yokoshin commented on #122
chefboost uses chi-square values.
https://github.com/serengil/chefboost/blob/master/chefboost/training/Training.py#L164

[2021-07-04 15:10] Rambatino commented on #122
yeah seems simple enough. Feel free to submit a PR

[2021-08-05 20:56] XinyuanHu opened #123 "Feature selection difference with SPSS"
I have a question regarding the chaid implementation in this package and SPSS.

I compared the output from this package and from SPSS. The later appeared to have some sort of selection built in because it only uses some of the features from the entire data set. Versus this package uses a lot more features.

When I limit the python test to same features SPSS selected, it returns the same tree/rules

[2021-08-09 11:18] Rambatino commented on #123
Can you give an example please? There is an addendum in the README too

[2021-08-16 17:54] #122 closed

[2021-08-17 09:54] binkmust opened #124 "missing value in ordinal feature and bonferroni adjustment"
Sorry to trouble you. First, thank you for your project of CHAID.

Do you have read the pdf of  (http://www.gad-allah.com/MBA%202010%20Ain%20Shames%20Univesity/Statistics/spss13/Algorithms/TREE-CHAID.pdf).

as url-pdf details：
1. the adjusted p-value is calculated as p-value times a bonferroni multiplier
2. for ordinal predictors, the algorithm first generates the best set of categories using all

[2021-08-23 07:33] Rambatino commented on #124
I have read that. We used that to construct parts of this algorithm.

So here is where the p_value is calculated: https://github.com/Rambatino/CHAID/blob/master/CHAID/stats.py#L150

I don't really have time to implement, but ideally there's be a configuration parameter --bonferroni or whatever, and then that is present, it would apply the bonferroni adjustment to that p_value. The rest of the algo

[2021-08-23 07:33] #123 closed

[2021-08-25 07:04] binkmust commented on #124
thank you  for  https://github.com/Rambatino/CHAID/blob/master/CHAID/stats.py#L150 advice.

what about the following process:
2. for ordinal predictors, the algorithm first generates the best set of categories using all non-missing information from the data. next the algorithm identifies the category that is most similar to the missing category. finally the algorithm decides whether to merge the m

[2021-12-02 16:06] #124 closed

[2021-12-03 22:04] theinexorable opened #125 "Slow"
This algo works terribly slow and really needs binning of scale inputs. I love this algorithm, but can't really use it as it is. Needs more overall optimization.

[2021-12-04 20:39] Rambatino commented on #125
We were achieving millions of rows with double digit columns in a few seconds. If you're trying to force scale dimensions through an algorithm that presumes categorical inputs then it will be slow as you're using it incorrectly.

Furthermore, the binning of inputs is an incredibly subjective process that requires an understanding of the data in order to bin. Bin outside the algorithm and use the a

[2021-12-04 20:39] #125 closed

[2022-01-06 20:52] dyaters68 opened #126 "Prior Nodes"
is there a way to get the prior (parent node) for each node on the --rules ?

[2022-01-07 12:47] Rambatino commented on #126
Something like:

[code]
?

[2022-01-07 16:04] dyaters68 commented on #126
thank you. I didnt see that option

[2022-01-07 16:04] #126 closed

[2022-01-21 10:06] arainboldt opened #127 "Continuous Column name arg & Plotting Tree"
Hi,

Great package, seems to be completely unique in the Python ecosystem, oddly enough. Really grateful for the contribution.

I'm running into two small problems.

First, the ContinuousColumn doesn't have a name arg. This breaks the API and also prevents splits from having names.

Second, I'm trying to visualize the tree and having trouble.

I've tried:  This `Tree(independent_cols, dependent_co

[2022-01-21 12:40] Rambatino commented on #127
Hi @arainboldt could you give me the top of your data so I can have a play?

Regarding the graphviz, have you installed the required libraries correctly as referenced in the README?

[2022-01-25 15:26] ondratybl opened #128 "Prediction"
how do I predict using this class for data which have not been used for training? I see only model_predictions which only retrieves predictions for the training data... thanks a lot :)

[2022-01-25 18:53] Rambatino commented on #128
Hi @ondratybl, you would like to apply the model to see its f1 score on unseen data, for instance?

That's kinda ML based, and I haven't actually got around to implementing such a thing. I'm not sure how difficult it would be, like it would just be how well that model runs on new data and look at what predictions match and what don't.

If you want to submit a PR please feel free to do so.

[2022-01-25 21:42] Rambatino commented on #128
I think this may be what you're after: https://github.com/Rambatino/CHAID/pull/91

[2022-01-26 11:11] ondratybl commented on #128
@Rambatino thanks a lot. It seems to be what I need. tree.predict() has been removed for some reason in the current version?

[2022-01-27 17:29] Rambatino commented on #127
Closing due to inactivity

[2022-01-27 17:29] #127 closed

[2022-01-28 19:36] #128 closed